/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite1-name: 'sprite1';
$sprite1-x: 0px;
$sprite1-y: 0px;
$sprite1-offset-x: 0px;
$sprite1-offset-y: 0px;
$sprite1-width: 32px;
$sprite1-height: 32px;
$sprite1-total-width: 96px;
$sprite1-total-height: 64px;
$sprite1-image: 'sprite-e59ace00a5.png';
$sprite1: (0px, 0px, 0px, 0px, 32px, 32px, 96px, 64px, 'sprite-e59ace00a5.png', 'sprite1', );
$sprite2-name: 'sprite2';
$sprite2-x: 32px;
$sprite2-y: 0px;
$sprite2-offset-x: -32px;
$sprite2-offset-y: 0px;
$sprite2-width: 32px;
$sprite2-height: 32px;
$sprite2-total-width: 96px;
$sprite2-total-height: 64px;
$sprite2-image: 'sprite-e59ace00a5.png';
$sprite2: (32px, 0px, -32px, 0px, 32px, 32px, 96px, 64px, 'sprite-e59ace00a5.png', 'sprite2', );
$sprite3-name: 'sprite3';
$sprite3-x: 0px;
$sprite3-y: 32px;
$sprite3-offset-x: 0px;
$sprite3-offset-y: -32px;
$sprite3-width: 32px;
$sprite3-height: 32px;
$sprite3-total-width: 96px;
$sprite3-total-height: 64px;
$sprite3-image: 'sprite-e59ace00a5.png';
$sprite3: (0px, 32px, 0px, -32px, 32px, 32px, 96px, 64px, 'sprite-e59ace00a5.png', 'sprite3', );
$sprite4-name: 'sprite4';
$sprite4-x: 32px;
$sprite4-y: 32px;
$sprite4-offset-x: -32px;
$sprite4-offset-y: -32px;
$sprite4-width: 32px;
$sprite4-height: 32px;
$sprite4-total-width: 96px;
$sprite4-total-height: 64px;
$sprite4-image: 'sprite-e59ace00a5.png';
$sprite4: (32px, 32px, -32px, -32px, 32px, 32px, 96px, 64px, 'sprite-e59ace00a5.png', 'sprite4', );
$sprite5-name: 'sprite5';
$sprite5-x: 64px;
$sprite5-y: 0px;
$sprite5-offset-x: -64px;
$sprite5-offset-y: 0px;
$sprite5-width: 32px;
$sprite5-height: 32px;
$sprite5-total-width: 96px;
$sprite5-total-height: 64px;
$sprite5-image: 'sprite-e59ace00a5.png';
$sprite5: (64px, 0px, -64px, 0px, 32px, 32px, 96px, 64px, 'sprite-e59ace00a5.png', 'sprite5', );
$spritesheet-width: 96px;
$spritesheet-height: 64px;
$spritesheet-image: 'sprite-e59ace00a5.png';
$spritesheet-sprites: ($sprite1, $sprite2, $sprite3, $sprite4, $sprite5, );
$spritesheet: (96px, 64px, 'sprite-e59ace00a5.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
